@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* cor do fundo */
        --background: #f1f5f9;
        /* cor das letras */
        --foreground: #0E0B0D;

        --card: #f1f5f9;
        --card-foreground: #0E0B0D;

        --popover: #f1f5f9;
        --popover-foreground: #0E0B0D;

        --primary: #3A0CA3;
        --primary-foreground: #f8fafc;

        --secondary: #7209B7;
        --secondary-foreground: #3A0CA3;

        --muted: #e5e7eb;
        --muted-foreground: #71717a;

        --accent: #eff6ff;
        --accent-foreground: #3A0CA3;

        --destructive: #ef4444;
        --destructive-foreground: #f8fafc;

        --border: #e2e8f0;
        --input: #e2e8f0;
        --ring: #0E0B0D;
        --outline: #cbd5e1;

        --radius: 0.5rem;
    }

    .dark {
        --background: #020817;
        --foreground: #f8fafc;

        --card: #020817;
        --card-foreground: #f8fafc;

        --popover: #020817;
        --popover-foreground: #f8fafc;

        --primary: #f8fafc;
        --primary-foreground: #0f172a;

        --secondary: #1e293b;
        --secondary-foreground: #f8fafc;

        --muted: #1e293b;
        --muted-foreground: #94a3b8;

        --accent: #1e293b;
        --accent-foreground: #f8fafc;

        --destructive: #7f1d1d;
        --destructive-foreground: #f8fafc;

        --border: #1e293b;
        --input: #1e293b;
        --ring: #cbd5e1;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
